* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 186px;
    border-radius: 14px;
    padding: 26px 24px;
    background-color: var(--primary-color);
    display: inline-block;
    text-align: center;
    line-height: normal;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.lv3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: normal;
}

/* Header */
header {
    padding: 8px 0;
    position: sticky;
    z-index: 1;
    top: -44px;
    background-color: #fff;
}

navbar {
    display: flex;
    align-items: center;
    padding-top: 44px;
}

navbar .list {
    display: flex;
    margin-left: 215px;
}

navbar .list .link {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

navbar .list .link:hover {
    text-shadow: 1px 0 0 currentColor;
}

navbar .cta-group {
    margin-left: auto;
}

navbar .sign-in {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

navbar .cta-group .btn {
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 108px;
    background-color: #fff;
    border: 1px solid currentColor;
    border-radius: 6px;
    padding: 15px 23px;
    margin-left: 24px;
}

/* Hero */
.hero {
    margin-top: 42px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .info {
    /* width: 39%; */
}

.hero .info .quote {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.hero .heading {
    margin-top: 18px;
}

.hero .info .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero .info .btn {
    margin-top: 52px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero button {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .image {
    position: relative;
}

.hero .image > img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .courses {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .courses .book {
    width: 36px;
    height: 40px;
}

.hero .courses::after {
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 26px;
    left: 35px;
    border-radius: 16px;
}

.hero .courses .desc-block {
    margin-left: 16px;
}

.hero .courses .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .courses .desc + .desc {
    margin-top: 5px;
}

.hero .schedules {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 46px;
    left: -65px;
}

.hero .schedules .heading {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.hero .schedules .img-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.hero .schedules img {
    width: 74px;
    height: 6px;
}

.hero .schedules img:last-child {
    width: 26px;
    height: 6px;
    display: block;
    margin-top: 4px;
}

.hero .students {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 41px;
    right: 45px;
}

.hero .students .heading {
    margin-top: 17px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-left: 35px;
}

.hero .students .avatar-group {
    display: flex;
    margin-left: 35px;
    margin-top: 8px;
}

.hero .students .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar + .avatar {
    margin-left: -8px;
}

.hero .no-bg {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
/* Features */
.features {
    margin-top: 130px;
}

.features .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features .heading {
    width: 577px;
}

.features .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.features .list {
    margin-top: 80px;
    display: flex;
    gap: 209px;
}

.features .item:first-child {
    width: 168px;
}

.features .item + .item {
    width: 223px;
}

.features .item .heading {
    margin-top: 26px;
}

.features .item .info {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}
/* Courses */
.courses {
    margin-top: 130px;
}

.courses .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .row .desc {
    margin-top: 19px;
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.courses .link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses .item {
    width: 359px;
    position: relative;
}

.courses .image {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.courses .item-info {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 0 29px 25px;
}

.courses .item-info .heading {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .item-info .fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}
.courses .item-info .fee span {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .item-info .info {
    margin-top: 6;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.courses .tags {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.courses .tags p {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.courses .tags p::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: block;
    margin-right: 10px;
}
/* Numbers */
.numbers {
    margin-top: 369px;
}

.numbers .content {
    width: 862px;
}

.numbers .list {
    display: flex;
    justify-content: space-between;
}

.numbers strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    display: block;
}

.numbers .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
/* Feedback */
.feedback {
    margin-top: 264px;
}

.feedback .body {
    display: flex;
}

.feedback-info {
    width: 36%;
    padding: 37px 0;
}

.feedback-info .desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback-info .cite {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.feedback-info .cite strong::before {
    position: absolute;
    content: "";
    left: -13px;
    top: 11px;
    width: 8px;
    height: 2px;
    background-color: #070707;
    display: block;
}

.feedback-info .cite strong {
    position: relative;
    color: #070707;
    font-weight: 500;
}

.feedback-info .cta {
    margin-top: 52px;
    display: flex;
    gap: 30px;
    margin-left: -13px;
}

.feedback-info button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feedback-image {
    width: 58%;
    margin-left: 72px;
    position: relative;
}

.feedback-image .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.feedback-image .avatar:first-child {
    left: 0;
    bottom: 145px;
}

.feedback-image .avatar:nth-child(2) {
    bottom: 0;
    left: 212px;
}

.feedback-image .avatar:nth-child(3) {
    bottom: 29px;
    right: 32px;
}

.feedback-image .avatar:nth-child(4) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
}

.feedback-image .avatar:nth-child(5) {
    width: 110px;
    height: 110px;
    right: 0;
    top: 19px;
}

.feedback-image .avatar:last-child {
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}
